img {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
}


.bookRow {
    align-items: stretch;
}

.bookTitle {
    padding: 15px 3px 5px;
    padding-right: 3px;
}

.bookTitle h4 {
    font-size: .7em;
}

.bookImage {
    justify-content: center;
    align-items: center;
}

.bookListBtn {
     width: 6.2em;
     padding: 4px 0px 4px 0px;
     font-size: .7em;
}