img {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
}


.bookRow {
    align-items: stretch;
}

.bookTitle {
    padding: 15px 3px 5px;
    padding-right: 3px;
}

.bookImage {
    justify-content: center;
    align-items: center;
}

.bookListBtn {
     width: 6.5em;
     padding: 6px 0px 6px 0px;
     font-size: calc(5px + .390625vw);
}