{% extends 'base.html'%}
<!-- show username, link to add pokemon (
    REDIRECT TO ALL), all pokemon in user inventory-->
{% block title %}{{user.username}}{% endblock %}

{% block body %}
<h1>{{user.username}}'s Pokemon</h1>
<div class="container-fluid">
    <div class="row">
{% for mon in pokemon %}
<div class="col-2">
<div class="card text-center" style="width: 8rem;">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{mon.pokemon_id}}.png" alt="{{mon.name}}" class="card-img-top">
    <div class="card-body">{{mon.pokemon.name}} <br> {{mon.cp}}</div>
    
    <form action="/user/pokemon/{{mon.owns_id}}/edit" method="get">
        <button class="btn btn-primary">Edit</button>
    </form>
    <form action="/user/pokemon/{{mon.owns_id}}/delete" method="post">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
</div>
{% endfor %}
</div>
</div>
<form action="/pokemon" method="GET">
    <button type="submit">Add Pokemon</button>
</form>
<!-- cards for each pokemon showing name, cp -->
{% endblock %}
